.navbarWrapper {
    background-color: #113e0d;
    font-family: "Asap", sans-serif;
  }
  .navbar {
    background-color: #113e0d;
    font-family: "Asap", sans-serif;
  
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
  }
  
  /* @media screen and (min-width: 960px) { */
    .navbarTitle {
      text-align: center;
      color: #faf8e3;
      font-size: x-large;
      padding: 10px;
    }
  
    .navbarLogoTitle {
      height: 0;
    }
  /* } */
  
  /* @media screen and (max-width: 960px) {
    .navbarTitle {
      height: 0;
      font-size: 0px;
    }
  
    .navbarLogoTitle {
      height: 10vh;
      padding: 10px;
      text-align: center;
      margin: auto auto;
      justify-content: center;
    }
  } */
  
  @media screen and (min-width: 960px) {
    .navbarLogo {
      margin: 20px;
      height: 12vh;
    }
  }
  
  @media screen and (max-width: 960px) {
    .navbarLogo {
      height: 0;
    }
  }
  
  .navbarLogoContainer {
    display: flex;
    justify-content: space-between;
  }
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    max-width: 1500px;
  }
  
  .nav-logo {
    color: #e0d7c0;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #ffdd40;
  }
  
  .nav-item .active {
    color: #ffdd40;
    border: 1px solid #ffdd40;
  }
  
  .nav-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
  
    }
  
    .nav-menu.active {
      background: #1f5628;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffe365;
    }
  }