.supportWrapper {
    padding: 50px;
}

.individualProgressBar {
    text-align: center;
}

.barcontainer {
    background-color: rgb(250, 240, 218);
    position: relative;
    /* margin-left: 50px; */
    width: 75px;
    height: 320px;
    /* float: left; */
    /** border darken(#98AFC7, 40%) 3px solid **/
    border-radius: 10px;
    margin: auto;
}

.bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    /** border-top: 6px solid #FFF; **/
    box-sizing: border-box;
    animation: grow 1.5s ease-out forwards;
    transform-origin: bottom;
}

.circle {
    position: relative;
    /* bottom: 0; */
    bottom: 50px;
    width: 150px;
      height: 150px;
      -webkit-border-radius: 75px;
      -moz-border-radius: 75px;
      border-radius: 75px;
      background: yellow;
      margin: auto;

    }

.berkeley {
    background-color: #003262;
}

.stanford {
    background-color: #8C1515;
}


.progressWrapper {
    display: flex;
    justify-content: space-evenly;
}

@keyframes grow {
    from {
        transform: scaleY(0);
    }
}

.donateButton {
    width: 100%;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    /* background-color: rgb(255, 225, 161); */
    border: none;
    /* color: black; */
}