.tripsWrapper {
    padding: 50px;
}

.scheduleListItem {
    font-size: x-large;
    margin-top: 10px;
}

.tripsInfo {
    display: flex;
    font-size: larger;
    align-items: center;
}

.tripsImage {
    max-width: 30vw;
    margin: 30px;
    border-radius: 15px;
}

.tripContentWrapper {
    padding-left: 20px;
}