.tripsWrapper {
    padding: 50px;
}

.scheduleListItem {
    margin-top: 10px;
}

.tripsInfo {
    display: flex;
    font-size: larger;
    align-items: center;
}

.bulletRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.tripsList {
    max-width: 768px;
}
.tripsImage {
    max-width: 500px;
    width: 100%;
    /* margin: 30px; */
    border-radius: 15px;
    height: 300px;
    margin-bottom: 30px;
}

.tripContentWrapper {
    padding-left: 20px;
}