.umrahWrapper {
    padding: 50px;
}

.aboutWrapper {
    width: 1500px;
    max-width: 80vw;
    font-size: x-large;
    color: aqua;
    margin: 0 auto;
}

.break {
    height: 40px;
}

.breakSmall {
    height: 20px;
}

.hostsWrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.umrahImage {
    width: 30vw;
    margin: 30px;
    border-radius: 15px;
    /* border: solid 4px rgb(250, 240, 218); */
}

.umrahImageWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hostCard {
    box-shadow: 0 2px 5px rgb(160, 138, 91), 0 2px 10px rgb(160, 138, 91);
    border: none;
}